.iconSidePanel {
  min-width: 45px;
  max-width: 235px;
  padding: 5px 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* 21.87x21.93 */
.bluebird svg {
  width: 45px;
  height: 45px;
  padding: 7px;
  fill: rgb(29, 161, 242);
  border-radius: 50px;
  cursor: pointer;
}
.bluebird svg:hover,
.home-icon svg:hover {
  background-color: rgba(29, 161, 242, 0.2);
}

.home-icon svg {
  width: 30px;
  height: 45px;
  fill: rgb(29, 161, 242);
  padding: 2px;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.icon-palette {
  display: flex;
  flex-direction: column;
}
.icon-palette svg {
  width: 30px;
  height: 45px;
  padding: 2px;
  border-radius: 50px;
  margin: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}
.icon-palette svg:hover {
  fill: rgb(29, 161, 242);
  background-color: rgba(29, 161, 242, 0.2);
}

.sidePanel-tweetIcon {
  width: 48px;
  height: 48px;
  padding: 15px;
  fill: white;
  background-color: rgb(29, 161, 242);
  border-radius: 50px;
  margin: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.accountOwner-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
  margin-top: 25px;
  cursor: pointer;
}
.accountOwner-image img:hover {
  background-color: rgba(29, 161, 242, 0.2);
}
