* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-Box {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 348px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 30px;
}
.search-Box:hover {
  border: 1px solid rgba(29, 161, 242, 1);
  background-color: #ffff;
  fill: rgba(29, 161, 242, 1);
}

.search-Box input {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.004);
  border: none;
}
.search-Box input:hover {
  background-color: #ffff;
}
.search-Box input:focus {
  outline: none;
}

.search-Box svg {
  flex: 0.05;
  padding-right: 5px;
  fill: rgb(128, 130, 131);
}
.search-Box svg:hover {
  fill: rgba(29, 161, 242, 1);
}
